body{
margin:0;
font-family:Arial;
background:#f4f6fb;
}

.app{
max-width:800px;
margin:auto;
padding:15px;
}

.topo{
background:#2f6fed;
color:white;
padding:20px;
border-radius:12px;
}

.menu{
display:flex;
gap:10px;
margin-top:10px;
}

.aba{
flex:1;
padding:12px;
border:none;
border-radius:10px;
background:white;
cursor:pointer;
}

.aba.ativa{
background:#2f6fed;
color:white;
}

.tela{
display:none;
margin-top:15px;
}

.tela.ativa{
display:block;
}

.card{
background:white;
padding:15px;
border-radius:12px;
margin-bottom:15px;
}

input{
width:100%;
padding:12px;
margin-bottom:10px;
border-radius:10px;
border:1px solid #ddd;
}

.btn{
background:#2f6fed;
color:white;
padding:12px;
border:none;
border-radius:10px;
width:100%;
margin-bottom:8px;
}

.btn-sec{
background:#ddd;
padding:12px;
border:none;
border-radius:10px;
width:100%;
}

ul{
list-style:none;
padding:0;
}

.item{
background:white;
padding:12px;
margin-bottom:10px;
border-radius:10px;
}

.preco{
display:flex;
gap:10px;
margin-top:8px;
}

.subtotal{
font-weight:bold;
}

.resumo{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.comparacaoItem{
background:white;
padding:12px;
border-radius:10px;
margin-bottom:10px;
}

.maisCaro{
color:red;
}

.maisBarato{
color:green;
}
